html{
    box-sizing: border-box;
    }
*, *:before, *:after{
    box-sizing: inherit;
    }

body{
    background: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.distinction{
    color: #ED6D05;
    font-weight: normal;
}

.visitCard{
    width: 624px;
    border-radius: 16px;
    background: #F8F8F8;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
}

.visitCard__aboutMe{
    font-size: 16px;
    line-height: 22px;
}

.visitCard__footer--link{
    color: #E20613;
    line-height: 22px;
}


.visitCard__header--h{
    font-size: 32px;
    font-weight: normal;
    color: #000000;
    margin: 0px;
}

.visitCard__right{
    width: 380px;
}

.visitCard__myPhoto{
    height: 148px;
    width: 148px;
    margin-top: 32px;
    margin-right: 32px;
}

.visitCard__position{
    color: #545454;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-style: italic;
}

